body {
  background-color: rgb(167, 167, 175);
  text-align: center;
}

.title {
  font-size: 42px;
  color: black;
}

.input {
  width: 20%;
  height: 36px;
  border: solid 1px rgba(10, 8, 8, 0.6);
  border-radius: 5px;
  font-size: 24px;
  text-align: center;
}

.item {
  margin-top: 5px;
  font-size: 24px;
  list-style-type: none;
}

.country-title {
  font-size: 42px;
}

.country-container {
  display: flex;
  justify-content: center;
}

.country-info {
  margin-right: 40px;
  text-align: left;
  font-size: 24px;
}

.country-flag {
  width: 300px;
}
